<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite verbose="1" name="Test suite" parallel="tests"  >
    <test name="ActivateTest">
        <parameter name="device" value="emulator-5554"></parameter>
        <parameter name="port" value="4723"></parameter>
        <classes>
            <class name="mobileTests" >
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <!-- <test name="ActivateTest2">
        <parameter name="device" value="CU99WW9HMFEMF6V8"></parameter>
        <parameter name="port" value="4723"></parameter>

        <classes>
            <class name="mobileTests" >
                <methods>
                 <include name="activateTest"/>
                    <include name="loginTest"/>

                </methods>
            </class>
        </classes>
    </test> -->
<!--    <test name="SyncModalTest">-->
<!--        <classes>-->
<!--            <class name="mobileTests" >-->
<!--                <methods>-->
<!--                    <include name="syncModelTest"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>